
.explore{
    height: 60vh;
    margin:3rem;
    border-radius: 10px;
}   
.big-button{
    padding: 1rem;
    background-color: var(--white);
    cursor: pointer;
    transition: filter 0.25s ease-in;
}
.text-home{
    font-size: xx-large;
}
.big-button:hover{
    filter: brightness(0.9);
}
.father-section{
    background:linear-gradient(rgba(123, 123, 123, 0.5), rgba(130, 130, 130, 0.8)), url('../../images/car.webp');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(0.5);
}
@media all and (max-width:1000px) {
    .hero-img{
        filter: brightness(0.3);
    }
    .hero-section{
        display: flex;
        flex-direction: column;
    }
}