.social-links{
    color: var(--primary-400);
}
.social-links:hover{
    color: var(--secondary-300);
}
.footer{
    gap:var(--size-12);
    background-color: var(--primary-100);
    padding:var(--size-08);
    margin-top:var(--size-12);
    transition: all 0.5s ease-in;
}
.connect-links{
    gap:1rem;
    padding: var(--size-08);
}