.filter-section{
    box-shadow:0 0 8px var(--primary-300);
    height: 100vh;
    top: 0;
    position: sticky;
    flex: 1 1 10%;
    background-color: var(--primary-100);
    overflow-y: hidden;
}
.product-image{
    height: 20rem;
    width: 30rem;
}
.loader-container{
    width: var(--size-12);
    height: var(--size-12);
}
.products-section{
    padding: 10px;
}
.filter-dropdown{
    background-color: var(--secondary-300);
    box-shadow: inset 2px 2px 18px var(--white);
    padding: 10px;
    width:120px; 
    display: none;
}
@media all and (max-width:720px) {
    .filter-section{
        flex:3;
    }
}
@media all and (max-width:600px) {
    .filter-section{
        flex:4;
    }
}
@media all and (max-width:500px) {
    .filter-section{
        flex-basis: 50vh;
        padding: 1rem;
        padding-top: 38vh;
        margin-left: 10px;
        overflow-y:scroll;
    }
    .product-filter-page{
        flex-direction: column;
    }
    .filter-dropdown{
        display: flex;
    }
}
