.filter-section{
    height: fit-content;
    top: 0;
    background-color: var(--primary-100);
    box-shadow: 0 0 5px var(--primary-400);
    border-top-right-radius: 10px;
}
.slider::-webkit-slider-thumb {
    border-radius: 50%;
    border: 2px solid var(--secondary-300);
  }
.product-image{
    height: 20rem;
    width: 30rem;
}
.loader-container{
    width: var(--size-12);
    height: var(--size-12);
}
.products-section{
    padding: 10px;
}
.filter-dropdown{
    background-color: var(--primary-400);
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 1rem;
    z-index: 3;
    display: none;
}
.filter-icon:hover{
    color: var(--secondary-300);
}
.close-filter-btn{
    display: none;
}
.filter-section.show-filter{
    display: flex;
}
@media all and (max-width:1000px) {
    .filter-section{
        flex:2;
    }
}

@media all and (max-width:770px) {
   
    .close-filter-btn{
        display: flex;
    }
    .filter-dropdown{
        display: flex;
    }
    .filter-section{
        display: none;
        border-radius: 0;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 5;
        background-color: var(--white);
        overflow-y:auto;
        justify-content: unset;
    }


}
@media all and (max-width:500px) {
    
    .product-filter-page{
        flex-direction: column;
    }
    
}
