body {
  background-image: linear-gradient(to bottom, var(--secondary-100), var(--white));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
html .without-shadow{
  box-shadow: none;
}