body {
  background-image: linear-gradient(to bottom, var(--secondary-100), var(--white));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
html .without-shadow{
  box-shadow: none;
}
.justify-center{
  justify-content: center;
}
.gap-1{
  gap:1rem;
}
.gap-2{
  gap:2rem;
}
.gap-4{
  gap:4rem;
}
.gap-px-10{
gap: 10px;
}
.padding-1{
padding: 1rem;
}
.padding-left-1{
  padding-left: 1rem;
}
.padding-2{
padding: 2rem;
}
.opacity-0{
opacity: 0;
}
.margin-1{
margin: 1rem;
}
.margin-2{
margin: 2rem;
}
.margin-bottom-1{
margin-bottom:1rem;
}
.margin-top-r-20{
margin-top:20vh;
}
.height-r-100{
height: 100vh;
}
.margin-top-1{
margin-top: 1rem;
}
.margin-top-2{
margin-top: 2rem;
}
.margin-top-8{
margin-top: 8rem;
}
.position-relative{
position: relative;
}
.position-fixed{
position: fixed;
}
.position-absolute{
position: absolute;
}
.height-max-content{
height: max-content;
}
.width-max-content{
width: max-content;
}
.height-fit-content{
height: fit-content;
}
.width-fit-content{
width: fit-content;
}
.cursor-pointer{
cursor: pointer;
}
.btn-padding-010{
padding:  0 10px ;
}
.flex-1{
flex: 1;
}

.flex-2{
flex: 2;
}

.flex-3{
flex: 3;
}

.flex-4{
flex: 4;
}

.flex-5{
flex: 5;
}
.width-r-80{
width: 80vw;
}
.width-r-100{
width: 100vw;
}
.width-p-100{
width: 100%;
}
.width-p-80{
width: 80%;
}
.height-p-80{
  height: 80%;
}
.height-p-100{
  height: 100%;
}
.height-r-80{
  height: 80vh;
}
.bg-black{
  background-color: var(--primary-400);
}
.text-red{
  color: var(--red-400);
}
.justify-flex-end{
  justify-content: end;
}
@media all and (max-width:800px) {
  html{
    font-size: 15px;
  }}